@font-face {
	font-family: 'Material Symbols Rounded';
	src: url(../../assets/fonts/syl0-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190FjpZIvDmUSVOK7BDB_Qb9vUSzq3wzLK-P0J-V_Zs-QtQth3-jOcbTCVpeRL2w5rwZu2rIelXxc.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}